*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url("bgalt.jfif");
    background-size: cover;
    height: 1000px;
}
nav{
    display: inline-block;
    position: fixed;
    background-color: black;
    width: parent;
    margin-left: -5px;
    height: 50px;
}



.wrapper button{
    height: 20px;
    width: 90px;
    background-color: yellow;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-left: 1110px;
    margin-top: 16px;

}
.wrapper button:hover{
    background-color: white;
    cursor: pointer;
    transition: .5s;
}

.wrapper{
	border: none;
	background: black;
	padding: 0 5px;
	height: 50px;
	font-size: 12px;
	outline: none;
    position: fixed;
}

.drawer{
    margin-top: 50px;
    width: 60px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 0px;
    height: 600px;
    position: fixed;
    display: inline-block;
    background-color: black;
    padding: 15px;
}

.bg{
    background-image: black;
    height: 500px;
    width: 500px;
}

