*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url("bgalt.jfif");
    background-size: cover;
}
nav{
    display: inline-block;
    position: fixed;
    background-color: black;
    width: parent;
    margin-left: -5px;
}
nav ul{
    float: right;
    margin-right: 820px;
    margin-top: 19px;
}
nav ul li{
    display: inline-block;
    line-height: 0px;
    margin: 0px 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
nav ul li a{
    color: white;
    display: inline-block;
}
nav button{
    height: 20px;
    width: 90px;
    float: right;
    margin-top: -33px;
    margin-right: 20px;
    background-color: yellow;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
nav button:hover{
    background-color: white;
    cursor: pointer;
    transition: .5s;
}
nav su_header{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-weight: 600;
    margin-right: 150px;
    margin-top: -30px;
    color: white;
}
nav su_header:hover{
    color: yellow;
    transition: .5s;
}
.wrapper{
	border: none;
	background: black;
	padding: 0 5px;
	height: 50px;
	font-size: 12px;
	outline: none;
}
.searchbar{
    height: 500px;
    width: parent;
}
.searchbar input, .searchbar textarea{
    height: 30px;
    width: 400px;
    background-color: black;
    color: white;
    margin-left: 60px;
    margin-top: 40px;
    outline: none;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    transition: .5s;
}
.searchbar input:hover{
    background-color: white;
    color: black;
    transition: .5s;
    height: 40px;
    width: 450px;

}

.footer{
    background-color: black;
    height: 600px;
    margin-top: 60px;
}
footertitle{
    font-size: 22px;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 450px;
}
footersub{
    font-size: 15px;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 470px;
}
form{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
}
form h1{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 100px;
    color: white;
}
form input, form textarea{
    border: 0;
    margin: 5px 0;
    padding: 5px;
    outline: none;
    background-color: white;
    font-size: 13px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
form button{
    padding: 5px;
    background-color: yellow;
    color: black;
    font-size: 14px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.category{
    height: 600px;
    margin-left:80px;
    margin-top: -350px;
}
.cat1 {
    margin-bottom: 40px;
}
.cat1 h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cat2 {
    margin-bottom: 40px;
}
.cat2 h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cat3 {
    margin-bottom: 40px;
}
.cat3 h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cat4 {
    margin-bottom: 40px;
}
.cat4 h4{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cat5 {
    margin-bottom: 40px;
}
.cat5 h5{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}